#build
TAG=latest
DOCKER_REGISTRY=openagri-eu
SOURCE_REPO=https://github.com/openagri-eu/openagri-pestanddiseasemanagement
## DB
VITE_API_URL=https://gk.test.horizon-openagri.eu/api/
SERVICE_PORT=8007
